<article class="listing" {{action "displayStu"}} role="button">
  <div class="details">
    <div class="Register Number">
      <span>Register Number:</span> {{this.studentdetail.register}}
    </div>
    <div class="First Name">
      <span>First Name:</span> {{this.studentdetail.first}}
    </div>
    <div class="Last Name">
      <span>Last Name:</span> {{this.studentdetail.last}}
    </div>
    <div class="Phone Number">
      <span>Phone Number:</span> {{this.studentdetail.phone}}
    </div>
    <div class="Year">
      <span>Year:</span> {{this.studentdetail.year}}
    </div>
    <div class="City">
      <span>City:</span> {{this.studentdetailcity}}
    </div>
  </div>
</article>

